/*! 
 * @theme extended-default
 * @author Omochice
 *
 * @auto-scaling true
 * @size 4:3  1400px 1050px
 * @size 5:4  1280px 1024px
 * @size 16:9 1920px 1080px
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans+JP&display=swap");
@import-theme "default";
section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

section {
  border: solid 7px #21c7a8;
  border-bottom: solid 7px #ef5350;
  font-family: "Noto Sans JP";
}
section.title, section.lead {
  border: solid 7px #21c7a8;
  border-right: solid 7px #ef5350;
}
section[data-marpit-advanced-background=content] {
  border-right: none;
}

code {
  font-family: "Fira Mono", monospace;
}
