section::after {
  content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
}

section {
  border: solid 7px #21c7a8;
  border-bottom: solid 7px #ef5350;
  font-family: "Noto Sans JP";
}

section.title, section.lead {
  border: solid 7px #21c7a8;
  border-right: solid 7px #ef5350;
}

section[data-marpit-advanced-background=content] {
  border-right: none;
}

section ol>li {
  list-style-type: decimal;
}

section ul>li {
  list-style-type: disc;
}
