---
import { parse } from "node-html-parser";
import "@/styles/bespoke.css";
import "@/styles/extended-default.css";
import { getSlides } from "@/composables/slides";

export async function getStaticPaths() {
  return await getSlides();
}

const { html, title, css, comments } = Astro.props;

const doc = parse(html);
const slide = doc
  .querySelector(".marpit")
  ?.setAttribute("id", ":$p")
  .toString();
if (!slide) {
  throw new Error("No slide found");
}
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <style set:html={css}></style>
  </head>
  <body>
    <Fragment set:html={slide} />
    {
      comments.map((comment, idx) => (
        <div
          class="bespoke-marp-note"
          data-index={idx}
          tabindex="0"
        >
          <p>{comment.join("\n")}</p>
        </div>
      ))
    }
    <script>
      import "@marp-team/marp-cli/lib/bespoke";
    </script>
    <div class="bespoke-marp-osc">
      <button
        data-bespoke-marp-osc="prev"
        tabindex="-1"
        title="Previous slide"
      >
        Previous slide
      </button>
      <span data-bespoke-marp-osc="page"></span>
      <button
        data-bespoke-marp-osc="next"
        tabindex="-1"
        title="Next slide"
      >
        Next slide
      </button>
      <button
        data-bespoke-marp-osc="fullscreen"
        tabindex="-1"
        title="Toggle fullscreen (f)"
      >
        Toggle fullscreen
      </button>
      <button
        data-bespoke-marp-osc="presenter"
        tabindex="-1"
        title="Open presenter view (p)"
      >
        Open presenter view
      </button>
    </div>
  </body>
</html>
