---
import { getSlides } from "@/composables/slides";
import "sakura.css/css/sakura.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Omochice's slides</title>
  </head>
  <body>
    <h1>Omochice's slides</h1>
    {
      (await getSlides()).map((slide) => (
        <div>
          <a href={`./${slide.params.id}`}>
            {slide.params.id}: {slide.props.title}
          </a>
        </div>
      ))
    }
  </body>
</html>
