<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Slides</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  </head>
  <body>
  <h1>My slides</h1>
    {{ #slides }}
    <li><a href="{{ path }}">{{ title }}</a></li>
    {{ /slides }}
  </body>
</html>
